.cart-items-list{
    display: flex;

}

.cart-items-image{
    width: 100%;

}
.cart-items{
    width: 80%;
    margin: 0 auto;
 height: 500vh;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
   background-color: aliceblue;
}